In [2]:
s = 'digipodium'
slice1 = s[4:]
print(slice1)

podium

In [3]:
name = 'ayush gupta'

In [4]:
fname = name[:5]
lname = name[5:]
print(fname)
print(lname)

ayush
 gupta

In [ ]:
string reverse - with slicing

In [5]:
name[:: -1]

'atpug hsuya'

In [6]:
# Even character of string 
name[::2]

'auhgpa'

In [7]:
# Odd character of string
name[1::2]

'ys ut'

In [8]:
name [::-1][:5][::-1]

'gupta'

In [10]:
data = '59.30%'
float(data[:-1])

59.3

In [13]:
value = '$910292+'
int(value[1:-1])

910292

In [47]:
x = chr(65)
print(x)
x = chr(5639)
print(x)
x = chr(576757)
print(x)

A
ᘇ
򌳵

In [32]:
with open('char.text', 'w', errors='ignore') as f:
    for i in range(16000):
        try:f.write(f'{i:10}{char(i)}\n')
        except:pass
    print('Done')

Done

In [43]:
y = ord('A')
print(y)
y = ord('a')
print(y)
y = ord('{')
print(y)

65
97
123

In [17]:
a = 'apple'
b = 'juice'
ab = a + b
print(ab)

applejuice

In [39]:
w1 = 'this'
w2 = 'is'
w3 = 'osm'
msg = w1 + w2 + w3
print(msg)

thisisosm

In [40]:
# adding space btween string
msg = w1 + ' ' + w2 + ' ' + w3
print(msg)

this is osm

In [41]:
word = 'NAMASTA'
print(word * 5 )

NAMASTANAMASTANAMASTANAMASTANAMASTA

In [38]:
word = 'NAMASTA'
print((word + ' ') * 5 )

NAMASTA NAMASTA NAMASTA NAMASTA NAMASTA

In [ ]:
## string methods
 -formatting methods
   -upper()
   -lower()
   -captilize()
   -title()

In [3]:
x = 'Jourey Before Destinition'

In [5]:
x.lower()

'jourey before destinition'

In [6]:
x.swapcase()

'jOUREY bEFORE dESTINITION'

In [7]:
x.title()

'Jourey Before Destinition'

In [8]:
x.casefold()

'jourey before destinition'

In [ ]:
## string utility methods
  strip()
  count()
  split()
  join()
  find()
  replace()
  startswith()

In [10]:
name = input('enter your name')
print(name)
print(len(name))

  ayush  gupta
14

In [11]:
clean_name = name.strip()
print(clean_name , len(clean_name))

ayush  gupta 12

In [13]:
data ='abcdabcdabcdabcdABCDABCDABCD'
data.count('a')

4

In [18]:
data = "once upon a time, there was a hero who save the world. one day he went to sleep, the life end"

In [19]:
print(data)

once upon a time, there was a hero who save the world. one day he went to sleep, the life end

In [16]:
data.count('the')

3

In [14]:
data.count('a') + data.count('A')

5

In [18]:
word = data.split()
print(word, len(word))

['once', 'upon', 'a', 'time,', 'there', 'was', 'a', 'hero', 'who', 'save', 'the', 'world.', 'one', 'day', 'he', 'went', 'to', 'sleep,', 'the', 'life', 'end'] 21

In [ ]:
data.slip

In [3]:
address_parts = [
   "AKS boys Hostal",
 "infront of BBD University",
 "Lucknow",
  "226028"
]

In [3]:
print(address_parts)

['AKS boys Hostal', 'infront of BBD University', 'Lucknow', '226028']

In [10]:
' '.join(address_parts)

'AKS boys Hostal infront of BBD University Lucknow 226028'

In [11]:
', '.join(address_parts)

'AKS boys Hostal, infront of BBD University, Lucknow, 226028'

In [12]:
print(',\n'.join(address_parts))

AKS boys Hostal,
infront of BBD University,
Lucknow,
226028

In [18]:
massage = 'it is story about the clown in the movie it'
massage.find('is', 3, 10)

3

In [23]:
def find_all(msg, query):
    pos = 0
    idxs = []
    while True:
        pos = msg.find(query,pos)
        if pos >= 0:
            idxs.append(pos)
            pos += 1
        else:
            break
    return idxs

In [26]:
find_all(massage, 'it')

[0, 41]

In [25]:
x = list(map(int, input().split()))
print(x)

[12, 234, 7567, 98565]